--extra-index-url https://download.pytorch.org/whl/cu121
albumentations==1.3.1
dearpygui==1.11.1
DearPyGui_DragAndDrop
imageio==2.34.0
joblib==1.3.2
numpy==1.24.4
opencv_python==4.9.0.80
pylnk3==0.4.2
Requests==2.31.0
scipy==1.13.0
spandrel
textile-metric==0.0.10
timm==0.9.12
torch==2.2.2+cu121
torchvision
tqdm==4.66.1
